
@import url('https://fonts.googleapis.com/css?family=Rajdhani:700&display=swap');
.Deck {
    font-family: 'Rajdhani', sans-serif;
    color: rgb(233, 179, 179);
    
}

.Deck h1{
    font-size: 70px;
    margin: 0;
}

.Deck h3{
    font-size: 40px;
    margin: 0;
}

.Deck button{
    margin-top: 20px;
    background: none;
    border: none;
    color: white;
    background: cornflowerblue;
    border: 2px solid cornflowerblue;
    font-size: 20px;
    border-radius: 10%;
    padding: 10px;
}